# Node
node_modules/
dist/
dist-ssr/
*.local

# Python virtual environment
venv/
.venv/
env/
.env

# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# IDE / System files
.vscode/
.idea/
.DS_Store
Thumbs.db
